// @tailwind components;
@tailwind base;
@tailwind utilities;

@import '/styles/normalize';
@import '/styles/utils';

$black: #1c1c1c;
$red: #ff0000;
$easing: cubic-bezier(0.19, 1, 0.22, 1);
$duration: 250ms;
$transition: $easing $duration;

@font-face {
    font-family: 'Maginia';
    font-weight: 400;
    src: url('/fonts/Maginia.woff2') format('woff2');
}

@font-face {
    font-family: 'Power Grotesk';
    font-weight: 400;
    src: url('/fonts/PowerGrotesk-Regular.woff2') format('woff2'), url('/fonts/PowerGrotesk-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Subjectivity';
    font-weight: 300;
    src: url('/fonts/Subjectivity-Light.woff2') format('woff2');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition-timing-function: $easing;
}

html {
    scroll-behavior: smooth;
    font-size: 10px;
}

body {
    font-family: 'Subjectivity';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overscroll-behavior-y: none;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: currentColor;
}

li {
    list-style: none;
}

.headroom {
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.headroom--unfixed {
    position: relative;
    transform: translateY(0);
    // background-color: #ff0000;
}

.headroom--scrolled {
    transition: transform 200ms ease-in-out;
}

.headroom--unpinned {
    position: fixed;
    transform: translateY(-100%);
    background-color: greenyellow;
}

.headroom--pinned {
    position: fixed;
    transform: translateY(0%);
    background-color: teal;
}

.default-text {
    font-size: 2rem;

    @include min-768 {
        font-size: 2.2rem;
    }

    @include min-1280 {
        font-size: 2.6rem;
    }
}

.animated-title-container {
    //     margin-block: 10rem;

    &::after,
    &::before {
        content: '';
        display: block;
        width: calc(100% - 20px);
        margin-left: 10px;
        height: 1px;
        background-color: $black;

        @include min-768 {
            width: calc(100% - 40px);
            margin-left: 20px;
        }
    }
}

.page-layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.Collapsible {
    border-bottom: 1px solid $black;
    .Collapsible__trigger {
        h2 {
            transition: opacity $transition !important;
        }
    }
    @include hover {
        .Collapsible__trigger {
            h2 {
                opacity: 0.5;
            }
        }
    }
}
